@import "./revolutionary";
@import "./here-is";
@import "./pricing";

@import './header';
@import './mixins';
@import './variables';
@import './talk-fork';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

